.createhead{
    text-align: center;
    color: #ff8b00;
    font-family: "Mclaren", cursive;
    font-style: italic;
    font-weight: 1500;
    font-size: 20px;
}

.createprison2{
    border-style: solid;
    border-radius: 50px;
    height: 560px;
    width: 460px;
    margin: auto;
    justify-content:center;
    position:fixed;
    top:200px;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    border-color: whitesmoke;
    text-align: center;
    color:#ff8b00;
    font-weight: bold;
    font-size: 20px;    
}
.createpage{
    background-image: url("../prison.jpg");
    background-size: cover;
    height:100vh;
}

.Back{
    margin-top: 600px;
    margin-left: 20px;
    background-attachment: scroll;
    border-radius : 60px;
    background-color: #ff8b00;
    display: block;
    width: 100px;
	overflow: hidden;
	font-family: "Mclaren", cursive;
	font-size: 16px;
	font-weight: 500;
    font-size: 20px;
	cursor: pointer;
    text-align: center;
    color: whitesmoke;
    }
.Submit{
    background-color: #ff8b00;
    border-radius : 60px;
    text-align: center;
    color: whitesmoke;
    font-family: "Mclaren", cursive;
    width: 100px;
}
.submit:hover{
    background-color: black;
}
.Reset{
    background-color: #ff8b00;
    border-radius : 60px;
    text-align: center;
    color: whitesmoke;
    font-family: "Mclaren", cursive;
    width: 100px;
}

.table{
    margin-bottom: 50px;
}